.App {
  text-align: center;
}

#body-div {
  height: 100%;
  width: 100%;
  min-width: 100vw;
  display: flex;
  margin: auto;
  align-items: center;
  overflow-y: scroll;
}

/* 
@media screen and (max-width: 767px) {
  #body-div {
  }
} */
